
# **1. Load Data**

In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ASUS\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.2)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ASUS\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [6]:
film = pd.read_csv("C:/Users/ASUS/Documents/SEMESTER 3/Modul 2/Movie_classification.csv")

In [7]:
film.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

# **2. Cek Duplikat Data**

In [21]:
movieDuplicate = film[film.duplicated()]
print(f"Jumlah di duplikat: {movieDuplicate.shape[0]}")

Jumlah di duplikat: 0

Jadi pada data tersebut jumlah duplikat datanya tidak ada atau 0

# **3. Menentukan Null Values Buat Presentase**

In [19]:
null = film.isnull().sum()
null_values = (null / len(film)) * 100
print(null_values)

Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

# **4. Drop Missing Value Berdasarkan Baris, Kolom, Imputasi dengan Mean, Modus, dan Median**

In [22]:
#drop missing value berdasarkan baris
film_baris = film.dropna()

#Drop missing value berdasarkan kolom
film_kolom = film.dropna(axis=1)

#Drop missing value berdasarkan imputasi dengan mean 
film_mean = film.copy()
film_mean['Movie_length'] = film_mean['Movie_length'].fillna(film_mean['Movie_length'].mean())

#Drop missing value berdasarkan imputasi dengan modus
film_modus = film.copy()
film_modus['genre'] = film_modus['genre'].fillna(film[col].mode()[0])

#Drop missing value berdasarkan imputasi dengan median
film_median = film.copy()
film_median['Movie_length'] = film_median['Movie_length'].fillna(data_median['Movie_length'].median())

# **5. Export data ke csv dan excel**

In [32]:
#Export data ke csv
data.to_csv('C:/Users/ASUS/Documents/SEMESTER 3/Modul 2/Movie_classification.csv', index=False)

#Export data ke excel
data.to_excel('C:/Users/ASUS/Documents/SEMESTER 3/Modul 2/Movie_classification.xlsx', index=False)